.container {
  background-image: url("../../../Assests/myblogbackground.jpeg");
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: 100% 80%;
}

.card {
  margin-bottom: 1rem;
}

.names {
  opacity: 0.3;
  min-width: 130px;
  height: 2rem;
  display: flex;
  font-size: 0.8rem;
  justify-content: baseline;
  align-items: center;
  text-transform: capitalize;
}

.names span {
  margin: 0.2rem;
}

.imgWrapper {
  width: 5%;
}

.replaceImg {
  height: 7vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.appreviation {
  text-transform: capitalize;
  opacity: 1;
  margin: 10px;
  min-width: max-content;
  background-color: red;
}
