.overAllWrapper {
  width: 20%;
  min-width: 100px;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.container {
  width: 40%;
  min-width: 40px;
  height: 20px;
  border-radius: 20px;
  filter: drop-shadow(-0px 2px 3px #ccc);
  transition: background-color 1s ease-in-out;
  margin-right: 1rem;
  background-color: rgb(226, 227, 236);
}

.wrapper {
  background-color: #fff;
  width: 40%;
  height: 20px;
  border-radius: 50%;
  transition: transform 1s ease-in-out;
  cursor: pointer;
}

.text {
  width: max-content;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translateY(10%);
  transition: background-color 1s ease-in-out;
}

.text :hover {
  background-color: #30bbb5;
  color: #fff;
  opacity: 1;
}

.text span {
  font-weight: lighter;
  text-transform: capitalize;
  font-size: 12px;
  opacity: 0.5;
  border: 2px solid gray;
  padding: 2%;
  transition: background-color 1s ease-in-out;
}
