.container {
  background-image: url("../../Assests/myblogbackground.jpeg");
  background-size: cover;
  background-attachment: scroll;
  background-repeat: no-repeat;
  background-position: 100% 80%;
}
